.content-left h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--nlu-navy-blue);
  }

.content-left p {
    font-size: 1.125rem; 
    line-height: 1.6;
    color: var(--nlu-navy-blue);
    max-width: 600px;
  }